/* src/styles/colors.css */
:root {
    --primary-color: rgb(20 0 156);
    --text: #070606;
    /* Add more colors as needed */
  }

  a.global-link{
    text-decoration: none;
  }
  .container-wrapper{
    margin-top: 75px;
  }
  .main-card{
    width: 95%;
    background: #f8f8f8;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 25px;
  }